ACTION=="add", SUBSYSTEM=="hid", DRIVER=="hid-generic", ATTRS{idVendor}=="04d9", ATTRS{idProduct}=="2819",  RUN+="/bin/sh -c '/sbin/modprobe hid-azio-lv-mech5; if test -d /sys/bus/hid/drivers/hid-generic && test -d /sys/bus/hid/drivers/hid-lg-g710-plus; then /bin/echo -n %k > /sys/bus/hid/drivers/hid-generic/unbind; /bin/echo -n %k > /sys/bus/hid/drivers/hid-azio-lv-mech5/bind;fi'"
